seleniumbase==4.28.4
accelerate
altair
altgraph
annotated-types
anyio
attrs
auto-py-to-exe
babel
beautifulsoup4
bert-score
blinker
bottle
bottle-websocket
cachetools
certifi
cffi
charset-normalizer
clr_loader
colorama
contourpy
cycler
distro
docxcompose
Eel
et_xmlfile
ezdxf
fastapi
filelock
fonttools
fsspec
future
gevent
gevent-websocket
gitdb
GitPython
graphviz
greenlet
groq
h11
httpcore
httpx
huggingface-hub
idna
importlib_resources
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
lxml
MarkupSafe
matplotlib
MouseInfo
mpmath
narwhals
networkx
numpy
openpyxl
outcome
packaging
pandas
pefile
pillow
protobuf
psutil
pyarrow
PyAutoGUI
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
PyMuPDF
pyparsing
PyPDF2
pyperclip
PyQt5
PyQt5-Qt5
PyQt5_sip
PyRect
PyScreeze
PySocks
python-dateutil
python-docx
python-dotenv
python-multipart
python-pptx
pythonnet
pytweening
PyYAML
referencing
regex
replicate
requests
rpds-py
safetensors
selenium
shapely
six
smmap
sniffio
sortedcontainers
soupsieve
starlette
streamlit
sympy
tenacity
tokenizers
toml
torch
torchvision
tornado
tqdm
transformers
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
watchdog
webdriver-manager
websocket-client
wsproto
xlsxwriter
zope.event
zope.interface
chromium-browser
